:root {
    --violet: hsl(263, 55%, 52%);
    --grayish-blue: hsl(217, 19%, 35%);
    --blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --ligh-grayish-blue: hsl(210, 46%, 95%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1, h2, p {
    margin: 0;
}

body {
    background: var(--ligh-grayish-blue);
}

/* Profile images, names, and titles */

.header {
    display: flex;
    gap: 1.0625em;
    align-items: center;
}

.profile_image {
    border-radius: 2em;
    overflow: hidden;
    width: 2.25em;
}

.first .profile_image {
    border: 2px solid #A775F1;
}

.fourth .profile_image {
    border: 2px solid #A775F1;
}

/* Main container */

main {
    display: flex;
    flex-direction: column;
    gap: 1.5em;  
    padding: 1em; 
    margin-top: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    justify-content: space-between;
    padding: 1.5em; 
    border-radius: 0.5em;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

/* First testimonial card */

.first {
    background: var(--violet) url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

/* Second testimonial card */

.second {
    background: var(--grayish-blue);
}

/* Thrid testimonial card */

.third, .fifth {
    background: var(--white);
}

/* Fourth testimonial card */

.fourth {
    background: var(--blackish-blue);
}

/* Headers for each card */

.header__name {
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0;
    font-size: 0.8125rem;
}

.header__title {
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0;
    font-size: 0.6875em;
    opacity: 50%;
    margin-top: .3em;
}

/* Header for first, second, and fourth cards */

.first .header__name, .first .header__title,
.second .header__name, .second .header__title,
.fourth .header__name, .fourth .header__title,
.first .review, .second .review, .fourth .review {
    color: var(--white);
}

/* Header for third and fifth card */

.third .header__name, .third .header__title,
.fifth .header__name, .fifth .header__title {
    color: var(--grayish-blue);
}

/* Review section */

.review {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
}

/* Font color for third and fifth cards */

.third .review, .third .quote,
.fifth .review, .fifth .quote {
    color: var(--grayish-blue);
}

/* Quote styles */
.quote {
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 0.813rem;
    opacity: 70%;

    color: var(--light-gray);
}